.link {
  text-decoration: none;
}

.container {
  background-color: #eeeeee;
  padding: 1rem;
  margin-bottom: 1rem;
}

.container:hover {
  background-color: #e4e4e4;
}

.title {
  margin: 1.5rem 0 0.5rem 0;
}

.date {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #999;
}
